a{
    text-decoration: none;
    color: #fff;
}
.main-sidebar, .skin-blue .left-side {
    background-color: #222d32;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    width: 230px;
    z-index: 810;
    transition: transform .3s ease-in-out,width .3s ease-in-out;
}
.sidebar {
    padding-bottom: 10px;
}
.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu>li.header {
    white-space: nowrap;
    overflow: hidden;
}
.user-panel {
    position: relative;
    width: 100%;
    padding: 10px;
    overflow: hidden;
}
.user-panel>.image>img {
    width: 100%;
    max-width: 45px;
    height: auto;
}
.img-circle {
    border-radius: 50%;
}
.user-panel>.info, .user-panel>.info>a {
    color: #fff;
}
.user-panel>.info {
    padding: 5px 5px 5px 15px;
    line-height: 1;
    position: absolute;
    left: 55px;
}
.user-panel>.info>p {
    font-weight: 600;
    margin-bottom: 9px;
}
.user-panel>.info>a {
    text-decoration: none;
    padding-right: 5px;
    margin-top: 3px;
    font-size: 11px;
}
.user-panel>.info>a>.fa, .user-panel>.info>a>.ion, .user-panel>.info>a>.glyphicon {
    margin-right: 3px;
}
.skin-blue .sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px;
}
.sidebar-form, .sidebar-menu>li.header {
    overflow: hidden;
    text-overflow: clip;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}
.skin-blue .sidebar-form input[type="text"] {
    color: #666;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
}
.sidebar-form input[type="text"], .sidebar-form .btn {
    box-shadow: none;
    background-color: #374850;
    border: 1px solid transparent;
    height: 35px;
}
.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu>li.header {
    white-space: nowrap;
    overflow: hidden;
}
.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar-menu>li.header {
    color: #4b646f;
    background: #1a2226;
}
sidebar-form, .sidebar-menu>li.header {
    overflow: hidden;
    text-overflow: clip;
}
.sidebar-menu li.header {
    padding: 10px 25px 10px 15px;
    font-size: 12px;
}
.sidebar-menu>li {
    position: relative;
    margin: 0;
    padding: 0;
}
.sidebar-menu>li.active>a {
    border-left-color: #3c8dbc;
}
.sidebar-menu>li>a {
    border-left: 3px solid transparent;
}
 .sidebar-menu>li:hover>a, .sidebar-menu>li.active>a, .sidebar-menu>li.menu-open>a {
    color: #fff;
    background: #1e282c;
}
.sidebar-menu>li>a {
    padding: 12px 5px 12px 15px;
    display: block;
}
.sidebar-menu li>a>.pull-right-container {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -7px;
}
.sidebar-menu>li>a>.fa, .sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion {
    width: 20px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.sidebar-menu li>a>.pull-right-container {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -7px;
}
.sidebar-menu .menu-open>a>.fa-angle-left, .sidebar-menu .menu-open>a>.pull-right-container>.fa-angle-left {
    transform: rotate(-90deg);
}
.sidebar-menu>li>.treeview-menu {
    margin: 0 1px;
    background: #2c3b41;
}
.sidebar-menu .active>.treeview-menu {
    display: block;
}
.treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 5px;
}
.sidebar-menu>li>a {
    color: #8aa4af;
}
.sidebar-menu>li>a {
    padding: 5px 5px 5px 15px;
    display: block;
    font-size: 14px;
}
.sidebar-menu li>a {
    position: relative;
}
.sidebar-menu li.active>a, .sidebar-menu li>a:hover {
    color: #fff;
}
.sidebar-menu li .selected{
    color: #fff;
}